doctype html
html
  head
    title="Home"
    style
      include ../style/style.css
  body
    div.container
      h2 Welcome, please sign in to Your account !
      a.confirm(href="/auth/google") Sign in